In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("data/sports_data.csv")
df.head()

,Activity Type,Date,Favorite,Title,Place,Distance,Calories,Time,Avg HR,Max HR,...,Max Resp,Stress Change,Stress Start,Stress End,Avg Stress,Max Stress,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Strength Training,10/3/2024 20:03,False,Strength,Unknown,0,372,0:58:27,138,163,...,--,--,--,--,--,--,0:58:27,0:58:29,--,--
1,Treadmill Running,10/3/2024 19:51,False,Cardio,Unknown,1.49,108,0:11:42,160,177,...,--,--,--,--,--,--,0:10:58,0:11:42,--,--
2,Strength Training,10/1/2024 7:26,False,Strength,Unknown,0,442,1:01:03,151,187,...,--,--,--,--,--,--,1:01:03,1:01:05,--,--
3,Strength Training,9/30/2024 9:12,False,Strength,Unknown,0,337,0:44:03,150,170,...,--,--,--,--,--,--,0:44:03,0:44:03,--,--
4,Treadmill Running,9/30/2024 8:59,False,Cardio,Unknown,1.71,68,09:34.4,133,167,...,--,--,--,--,--,--,0:09:34,09:34.4,--,--

In [13]:
df2 = df[df["Activity Type"] == "Running"].groupby(['Place']).size()
pd.DataFrame({'Count' : df[df["Activity Type"] == "Running"].groupby(['Place']).size()}).reset_index()

         Place  count
0     Brussels      1
1       Leuven     17
2     Mechelen      3
3  Middelkerke      9
4       Moscow     10
5   Schaarbeek      1
6      Unknown     34
7        Zemst    124

In [59]:
pd.to_datetime(df["Date"]).dt.year.unique()[0]

np.int32(2024)

In [41]:
df["Date"] =pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year

df2 = df[df["Year"] == 2020].groupby(['Activity Type']).size()
pd.DataFrame({'Count' : df[df["Year"] == 2023].groupby(['Activity Type']).size().sort_values(ascending=False)}).reset_index()

       Activity Type  Count
0  Strength Training    194
1  Treadmill Running     62
2             Cardio     58
3            Running     32
4            Walking     11
5            Cycling      4
6          Pool Swim      3
7     Indoor Cycling      1

In [47]:
def get_season(row):
    month = row['Date'].month
    year = row['Date'].year
    if month in [12, 1, 2]:
        season = 'Winter'

    elif month in [3, 4, 5]:
        season = 'Spring'
        season_year = year
    elif month in [6, 7, 8]:
        season = 'Summer'
        season_year = year
    elif month in [9, 10, 11]:
        season = 'Autumn'
        season_year = year

    return f"{season}"

df['Label'] = df.apply(get_season, axis=1)

In [54]:

filter_df = df[df["Label"] == "Winter"]

rslt_df = pd.DataFrame(
{"Count": filter_df.groupby(["Activity Type"]).size()}
).reset_index()

In [61]:
df["Place"].unique()

array(['Unknown', 'Brussels', 'Zemst', 'Leuven', 'Moscow', 'Middelkerke',
       'Mechelen', 'Treadmill', 'Wemmel', 'Pool', 'Vipiteno',
       'Schmallenberg', 'Indoor', 'Griante', 'Schaarbeek'], dtype=object)

In [107]:
import numpy as np
def lat_lon(row):
   if row['Place'] == "Brussels":
      return [50.850346,4.351721]
   if row['Place'] == "Zemst":
      return [50.984070, 4.464710]
   if row['Place'] == "Leuven":
      return [50.879845, 4.700518]
   if row['Place'] == "Moscow":
      return [55.755825,37.617298]
   if row['Place'] == "Middelkerke":
      return [51.185139, 2.820850]
   if row['Place'] == "Mechelen":
      return [51.0281381,4.4803453]
   if row['Place'] == "Wemmel":
      return [50.9092205,4.3029931]
   if row['Place'] == "Vipiteno":
      return [46.8963235,11.4319398]
   if row['Place'] == "Schmallenberg":
      return [51.1525937,8.2836014]
   if row['Place'] == "Griante":
      return [45.995284,9.235538]
   if row['Place'] == "Schaarbeek":
      return [50.8676041,4.3737121]
   return 'Unknown'

df["Coord"] = df.apply(lat_lon, axis=1)
coords = pd.DataFrame({"Count": df.groupby(["Place"]).size()}).reset_index()
df2 = df[["Place", "Coord"]]
df2 = df2[~df2.astype(str).duplicated()]
df3 = pd.merge(coords, df2, on = ["Place"])
final_df = df3[df3["Coord"] != "Unknown"]

In [110]:
final_df['Coord'].str[0]

0     50.850346
1     45.995284
3     50.879845
4     51.028138
5     51.185139
6     55.755825
8     50.867604
9     51.152594
12    46.896324
13    50.909221
14    50.984070
Name: Coord, dtype: float64

In [113]:
import plotly.graph_objects as go

fig = go.Figure().add_trace(go.Scattergeo(
    locationmode = 'USA-states',
    lon = final_df['Coord'].str[1],
    lat = final_df['Coord'].str[0],
    marker = dict(
        size = final_df['Count']/100,
        line_color='rgb(40,40,40)',
        line_width=0.5,
        sizemode = 'area'
    ),
    ))

fig

fig.update_layout(
        showlegend = True,

    )

fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [57]:
import plotly.graph_objects as go

fig = go.Figure(
        data=[go.Pie(labels=rslt_df["Activity Type"], values=rslt_df["Count"])]
    )   
fig.show()

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed